# IntelliJ Generated
.idea
*.iml

# Client Dependency Generated
client/node_modules/
client/typings/
client/node/

# Typescript Compiler Generated
client/app/**/*.js
client/app/**/*.js.map

# Gradle Generated
.gradle/
